# Cargo output
/**/target/*

# Test output: Keep directory, but not the output
/**/test_target/*
!/**/test_target/.gitkeep

# trycmd dump files
/**/dump/*

# If someone spends a lot of money to pollute repos
.DS_Store
/**/.env

# Performance data
/**/perf.data
/**/perf.data.*
/**/flamegraph.svg